@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("../assets/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
    font-family: "Zilla Slab";
    src: url("../assets/ZillaSlab-Regular.ttf");
}

@font-face {
    font-family: "Overpass";
    src: url("../assets/Overpass-VariableFont_wght.ttf");
}


.menu {

    display: flex;
    justify-content: space-between ;
    background-color: #ffffffaa;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(29, 63, 230);
   
}
body {
    margin: 0px;
    background-color: #23e2d9;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 10px;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}


a:link {
    color: rgb(20, 24, 236);
}

h1 {
    font-family: "Zilla Slab";
}

h3 {
    font-family:"Overpass";
}

p {
    font-family:"Atkinson Hyperlegible";
}

